<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="home">
        
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="orange" class="bi bi-building-fill-check" viewBox="0 0 16 16" style="padding-top: 5%;">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514"/>
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                  </svg>
                  
                  <span class="fs-1"><span style="color: black; margin-right: 10px;">TrustTenant</span></span>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 ">Features</a></li>
              <li><a href="/pricing" class="nav-link px-2 ">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 ">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 ">About</a></li>
            </ul>
    
    
            <div >
              <button type="button" class="btn login-btn btn-outline "  onclick="window.location.href='/login'">Login</button>
              
            </div>
            <div >
                
                <button type="button" class="btn signup-btn " style="margin-right: 20px; margin-left: 20px; " onclick="window.location.href='/signup'">Sign-up</button>
              </div>

          </div>

          <hr/>
          

          <div class="home-hero">
            <div class="px-4 py-5 my-5 text-center">
                <div class="d-flex flex-wrap align-items-center justify-content-center">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="orange" class="bi bi-building-fill-check" viewBox="0 0 16 16" style="padding-top: 5%;">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514"/>
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                          </svg>
                          
                    </a>
            </div>
                <h1 class="display-5 fw-bold text-body-emphasis">TrustTenant</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="window.location.href='/login'">Login</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/signup'">Sign up</button>
                  </div>
                </div>
              </div>
          </div>
          <hr/>
          <div class="row featurette">
            <div class="home-feature">
              <h1>First featurette heading. It’ll blow your mind.</h2>
              <p >Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            
              <img width="700" height="500" src="https://images.pexels.com/photos/3184416/pexels-photo-3184416.jpeg"/>
            
          </div>
            <hr/>
          <div class="row featurette">
             <img width="700" height="500" src="https://images.pexels.com/photos/3184416/pexels-photo-3184416.jpeg"/>
             <div class="home-feature">
              <h1>Second featurette heading. It’ll blow your mind.</h2>
              <p >Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            
          </div>

          <hr/>

          <div class="row featurette">
            <div class="home-feature">
              <h1>Third featurette heading. It’ll blow your mind.</h2>
              <p >Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            
              <img width="700" height="500" src="https://images.pexels.com/photos/3184416/pexels-photo-3184416.jpeg"/>
            
          </div>

          <hr/>

          <div class="testimonial-container">
            <h1>What <span style="color: rgb(132, 130, 130);">our users have to say</span></h1>
            <div class="testimonial">
                <img src="https://st2.depositphotos.com/47577860/46969/v/1600/depositphotos_469698116-stock-illustration-user-boy-testimonial-icon-other.jpg">
                <div class="txt">
                    <h3>Person 1, Company</h3>
                    <hr/>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi"</p>
                </div>
            </div>
            

            <div class="testimonial">
                <img src="https://st2.depositphotos.com/1007566/11368/v/950/depositphotos_113683786-stock-illustration-avatar-man-with-colorful-clothesvector.jpg">
                <div class="txt">
                    <h3>Person 2, Company</h3>
                    <hr/>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi"</p>
                </div>
                
            </div>

            <div class="testimonial">
                <img src="https://st3.depositphotos.com/3369547/13282/v/1600/depositphotos_132824354-stock-illustration-hipster-style-design.jpg">
                <div class="txt">
                    <h3>Person 3, Company</h3>
                    <hr/>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi"</p>
                </div>
            </div>
          </div>

          <hr/>
          <br>
          <%- include("partials/footer.ejs"); %>
    </div>
</body>

<script src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>